.review__block{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.review{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.review__details{
    display: flex;
    justify-content: space-between;
}

.review__author{
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.review__rating{
    font-size: 16px;
    color: #000;
}

.review__text{
    font-size: 16px;
    font-weight: 400;
    color:#000;
    line-height: 1.5em;
}