.title{
display: flex;
flex-direction: column;
gap: 20px;
    
}

.title__text{
    font-size: 56px;
    font-weight: 700;
}

.title__sub-block{
    display: flex;
    gap: 16px;
    font-size: 16px;
}

.title__sub-value{
    display: flex;
    align-items: center;
    gap: 16px;
}

.title__sub-value:not(:last-child)::after{
    content: '';
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background-color: #000;
}